<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineMax</title>

   
</head>


<body>



    <!-- Footer -->
    <div class="container">
        <footer class=" container py-md-5 bg-black mt-5 ">

            <!-- Logo & Social Links -->
            <div>
                <div class="container border-bottom border-dark pb-4">
                    <div class="row gy-3 align-items-sm-center">
                        <div class="col-12 col-sm-6">
                            <div class="footer-logo-wrapper text-start-light">
                                <h4 class="mb-3 fw-bold fs-7 text-light">CineMax&nbsp;<i
                                        class="bi bi-camera-reels-fill"></i></h4>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="social-media-wrapper">
                                <ul class="m-0 list-unstyled d-flex justify-content-sm-end gap-2">
                                    <li>
                                        <h4><a href="#" class="anch text-light"><i class="bi bi-instagram"></i></a>
                                        </h4>
                                    </li>
                                    <br>
                                    <li>
                                        <h4><a href="#" class="anch text-light"><i class="bi bi-facebook"></i></a>
                                        </h4>
                                    </li>
                                    <br>
                                    <li>
                                        <h4><a href="#" class="anch text-light"><i class="bi bi-telegram"></i></a>
                                        </h4>
                                    </li>
                                    <br>
                                    <li>
                                        <h4><a href="#" class="anch text-light"><i class="bi bi-youtube"></i></a>
                                        </h4>
                                    </li>
                                    <br>
                                    <li>
                                        <h4><a href="#" class="anch text-light"><i class="bi bi-twitter"></i></a>
                                        </h4>
                                    </li>
                                    <br>
                                    <li>
                                        <h4><a href="#" class="anch text-light"><i class="bi bi-reddit"></i></a>
                                        </h4>
                                    </li>
                                    <br>
                                    <li>
                                        <h4><a href="#" class="anch text-light"><i class="bi bi-discord"></i></a>
                                        </h4>
                                    </li>
                                    <br>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Widgets Link - for cine max -->
            <section class="py-4 py-md-5 py-xl-7 py-xxl-10">
                <div class="container">
                    <div class="row gy-4 gy-md-0">
                        <div class="col-6 col-md-3">
                            <div class="link-wrapper">
                                <h4 class="mb-3 fw-bold fs-7 text-light">Tv Show's <i class="bi bi-tv"></i></h4>
                                <ul class="m-0 list-unstyled">
                                    <li class="mb-1">
                                        <a href="/hbo"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            HBO
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="/max"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            HBO MAX
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="/peacock"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            Peacock
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="/appletv"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            APPLE TV+
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="link-wrapper">
                                <h4 class="mb-3 fw-bold fs-7 text-light">Film<i class="bi bi-film"></i></h4>
                                <ul class="m-0 list-unstyled">
                                    <li class="mb-1">
                                        <a href="/mpopular"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            Most Popular
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="/theater"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            Theater
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#!"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            New Releases
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            Action
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#!"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            Comedy
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="link-wrapper">
                                <h4 class="mb-3 fw-bold fs-7 text-light">Support<i class="bi bi-headset"></i>
                                </h4>
                                <ul class="m-0 list-unstyled">
                                    <li class="mb-1">
                                        <a href="/FAQ"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            FAQ
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="/devices"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            Devices
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="/terms"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            Terms of Uses
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="/privacy"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            Privacy Policy
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="/security"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            Security
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="link-wrapper">
                                <h4 class="mb-3 fw-bold fs-7 text-light">Account<i class="bi bi-person"></i>
                                </h4>
                                <ul class="m-0 list-unstyled">
                                    <li class="mb-1">
                                        <a href="/account"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            My Account
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="/watchlist"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            WatchList
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#!"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            Collections
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#!"
                                            class="link-opacity-75 link-opacity-100-hover text-decoration-none fs-8 link-light">
                                            User Guide
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Copyright & Links -->
            <div>
                <div class="container border-top border-dark pt-4">
                    <div class="row gy-3 align-items-lg-center">
                        <div class="col-12 col-lg-6 order-1 order-lg-0">
                            <div class="copyright-wrapper d-block mb-1 fs-7 text-light text-start">
                                &copy; 2024. All Rights Reserved.
                            </div>
                            <div class="credit-wrapper d-block text-light fs-8 text-start">
                                Built by<a href="#"
                                    class="link-opacity-0 link-opacity-75-hover link-light text-decoration-none">
                                    Sivaramakrishnan</a> with <span class="text-primary">&#9829;</span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="link-wrapper">
                                <ul
                                    class="m-0 list-unstyled d-flex justify-content-centerX justify-content-lg-end gap-2 gap-md-3">
                                    <li>
                                        <a href="#!"
                                            class="link-underline-opacity-0 link-opacity-75-hover link-offset-1 link-light fs-8 d-flex align-items-center pe-2 pe-md-3 bsb-sep bsb-sep-border">
                                            Legal Information
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!"
                                            class="link-underline-opacity-0 link-opacity-75-hover link-offset-1 link-light fs-8 d-flex align-items-center pe-2 pe-md-3 bsb-sep bsb-sep-border">
                                            Terms of Uses
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!"
                                            class="link-underline-opacity-0 link-opacity-75-hover link-offset-1 link-light fs-8 d-flex align-items-center pe-2 pe-md-3 bsb-sep bsb-sep-border">
                                            Privacy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!"
                                            class="link-underline-opacity-0 link-opacity-75-hover link-offset-1 link-light fs-8 d-flex align-items-center">
                                            Security
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- End of Footer -->
</body>

</html>