.container {
    position: relative;
}

video {
    width: 100%;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    z-index: 10;
}

.controls button {
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* Unique colors for each button */
.controls .go-back {
    background-color: #e74c3c;
    /* Red */
}

.controls .go-back:hover {
    background-color: #c0392b;
    /* Darker red */
}

.controls .play-pause {
    background-color: #f39c12;
    /* Orange */
}

.controls .play-pause:hover {
    background-color: #e67e22;
    /* Darker orange */
}

.controls .lock-screen-toggle {
    position: relative;
    background-color: #3498db;
    /* Blue */
}

.controls .lock-screen-toggle:hover {
    background-color: #2980b9;
    /* Darker blue */
}

.controls .icon {
    font-size: 18px;
}
