.card-img-top {
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-dark {
    display: block;
    width: 100%;
    margin-top: auto;
}

.card-text {
    text-align: center;
    justify-content: center;
}

.card:hover {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outine-light.see-more-btn:hover {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, );
}